.postsBlock{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

h3 {
    font-size: calc(15px + (2 + 2* 0.7) * ((100vw - 320px) / 1000));    /*формула расчёта изменения размера текста*/
    font-weight: 700;
}

.item {
    font-size: calc(10px + (2 + 2* 0.7) * ((100vw - 320px) / 1000));
    font-weight: 400;
}
