body{
  background-color: rgb(230, 230, 230);

  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));  /*убирает сдвиг экрана при появлении прокрутки*/

}

.preloader {
  display: block;
  position: fixed;
  top:45%;
  left: 49%;
}

.app-wrapper{
  /* display: flex; */
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.container {
  padding: 10px;
  margin: 0 auto;
  display: grid;
  max-width: 1000px;
  

  grid-template-areas:
  "h h" 
  "n c";

  grid-template-columns: 2fr 15fr;
  /*grid-template-rows: 40px 1fr;*/
  grid-auto-rows: auto;
  grid-gap: 1em;
}

@media (max-width: 1000px) {
  .container{
    max-width: 870px;
  }
}

@media (max-width: 910px) {
  .container{
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container{
    max-width: 590px;
  }
}








